<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap rescap com desktop">

  <Identity
    Name="15973megaworld.phos"
    Publisher="CN=B9640EDB-1E12-418E-B809-0E976415E714"
    Version="0.0.5.0" />

  <Properties>
    <DisplayName>phos</DisplayName>
    <PublisherDisplayName>megaworld</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="phos"
        Description="phos is a utility that allows you to control the brightness of your monitors using a user-friendly interface"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="phos">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
	    <Extensions>

		    <!--Specify which CLSID to activate when toast clicked-->
		    <desktop:Extension Category="windows.toastNotificationActivation">
			    <desktop:ToastNotificationActivation ToastActivatorCLSID="301b4701-6acb-4465-ba57-42d204f876e2" />
		    </desktop:Extension>

            <desktop:Extension Category="windows.startupTask" Executable="fos\phos.exe" EntryPoint="Windows.FullTrustApplication">
	            <desktop:StartupTask TaskId="phosStartupTask" Enabled="true" DisplayName="phos"/>
			</desktop:Extension>

		    <!--Register COM CLSID LocalServer32 registry key-->
		    <com:Extension Category="windows.comServer">
			    <com:ComServer>
				    <com:ExeServer Executable="fos\phos.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
					    <com:Class Id="301b4701-6acb-4465-ba57-42d204f876e2" DisplayName="Toast activator"/>
				    </com:ExeServer>
			    </com:ComServer>
		    </com:Extension>

	    </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
